<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test-method Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>17/10/02 00:03:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelMethods.setUp()[pri:0, instance:com.testparallel.methods.ParallelMethods@3abbfa04]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-2@1983652539</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>17/10/02 00:03:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelMethods.setUp()[pri:0, instance:com.testparallel.methods.ParallelMethods@3abbfa04]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-2@1983652539</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>17/10/02 00:03:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelMethods.setUp()[pri:0, instance:com.testparallel.methods.ParallelMethods@3abbfa04]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-2@1983652539</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>17/10/02 00:03:13</td>   <td>7516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethods.navigatetoGoogleHomepage()[pri:0, instance:com.testparallel.methods.ParallelMethods@3abbfa04]">navigatetoGoogleHomepage</td> 
  <td>TestNG-test=Test-method test-3@396408088</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>17/10/02 00:03:13</td>   <td>7528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethods.navigatetoFacebookHomepage()[pri:0, instance:com.testparallel.methods.ParallelMethods@3abbfa04]">navigatetoFacebookHomepage</td> 
  <td>TestNG-test=Test-method test-2@1983652539</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>17/10/02 00:03:13</td>   <td>7532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethods.navigatetoAmazonHomepage()[pri:0, instance:com.testparallel.methods.ParallelMethods@3abbfa04]">navigatetoAmazonHomepage</td> 
  <td>TestNG-test=Test-method test-1@136253040</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>17/10/02 00:03:15</td>   <td>8944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelMethods.close()[pri:0, instance:com.testparallel.methods.ParallelMethods@3abbfa04]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-1@136253040</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>17/10/02 00:03:16</td>   <td>9916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelMethods.close()[pri:0, instance:com.testparallel.methods.ParallelMethods@3abbfa04]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-1@136253040</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>17/10/02 00:03:21</td>   <td>15000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelMethods.close()[pri:0, instance:com.testparallel.methods.ParallelMethods@3abbfa04]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-1@136253040</td>   <td></td> </tr>
</table>
