<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee68d8">  <td>17/10/01 23:56:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiBrowser.afterTest()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@3c0ecd4b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1819405439</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>17/10/01 23:57:09</td>   <td>10609</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiBrowser.afterTest()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@13805618]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@218765067</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>17/10/01 23:56:49</td>   <td>-9876</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowser.beforeTest(java.lang.String)[pri:0, instance:com.differentbrowsers.test.MultiBrowser@3c0ecd4b]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1819405439</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>17/10/01 23:56:49</td>   <td>-9876</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowser.beforeTest(java.lang.String)[pri:0, instance:com.differentbrowsers.test.MultiBrowser@13805618]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@218765067</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>17/10/01 23:56:53</td>   <td>-5525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.test()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@3c0ecd4b]">test</td> 
  <td>TestNG-tests-1@1819405439</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>17/10/01 23:57:09</td>   <td>10468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.test()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@13805618]">test</td> 
  <td>TestNG-tests-2@218765067</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>17/10/01 23:56:56</td>   <td>-2940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.testFacebook()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@3c0ecd4b]">testFacebook</td> 
  <td>TestNG-tests-1@1819405439</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>17/10/01 23:57:09</td>   <td>10562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.testFacebook()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@13805618]">testFacebook</td> 
  <td>TestNG-tests-2@218765067</td>   <td></td> </tr>
</table>
